.RMain{
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
}
.Annuler{
    background-color: #FF0000;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
    padding: 5px;
}
.Modifier{
    background-color: #42B72A;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
    padding: 5px;
    margin-bottom: 5px;
}
.tit{
    color: #101720;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.date{
    background-color: #fff;
  } 
  .date :hover{
    background-color: #fff;
  }